body{


height:100vh;

display:flex;

justify-content:center;

align-items:center;


background:
linear-gradient(
135deg,
#00111f,
#0066ff
);


font-family:Arial;


}



.card{


width:350px;

padding:40px;

border-radius:30px;


background:
rgba(255,255,255,.2);


backdrop-filter:
blur(20px);


box-shadow:
0 20px 50px black;


color:white;

text-align:center;


}



input,button{


width:90%;

padding:15px;

margin:10px;

border-radius:15px;

border:none;


}


button{


background:#00ff99;

font-weight:bold;


}